{% extends 'base.html' %}

{% block title %} User Detail {% endblock %}

{% block content %}

<!-- Test: user detail page -->

<div class="row">
  <div class="column">
    <img src="{{ user.image_url }}">
  </div>

  <div class="column">
    <h1>{{ user.full_name }}</h1>

    <form>
      <button
        formaction="/users/{{ user.id }}/edit"
        formmethod="GET"
        type="submit">
        Edit
      </button>

      <button
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST"
        type="submit">
        Delete
      </button>

    </form>

    <h2>Posts</h2>

    <ul class="post-list">
      {% for post in posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

<form>
    <button
    formaction="/users/{{ user.id }}/posts/new"
    formmethod="GET"
    type="submit">
    Add Post
  </button>
</form>
  </div>
</div>

{% endblock %}